<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/profile/settings']">Account Settings</a></li>
      <li class="breadcrumb-item active" aria-current="page">Payment and Payout</li>
    </ol>
  </nav>

  <h2 class="mb-4">Payment and Payout</h2>

  <div class="row">

    <div class="col-md-8">

    </div>

    <div class="col-md-4">

      <div class="card w-100">
        <div class="card-body">
          <i class="fa fa-money" aria-hidden="true"></i>
          <h5 class="card-title">Make all payments through Wurkings</h5>
          <p class="card-text">Always pay and communicate through Airbnb to ensure you're protected under our Terms of Service, Payments Terms of Service, cancellation, and other safeguards. Learn more</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>

</div>
