<!--conditions for renting-->
<div class="row mt-5">
  <div class="col-6">
    <h2>Review the conditions for renting on Wurkings</h2>
    <p>Wurkings has the following requirements before all users can rent from you.</p>
    <form action="" method="post" class="">

      <div class="form-group">
        <div class="row">
          <div class="col">
            <div class="col-md-6">
              <h6>All Wurkings lesses must provide:</h6>
              <ul class="list-display list-checkmarks">
                <li>Confirmed Email address</li>
                <li>Confirmed phone number</li>
                <li>Payment Information</li>
              </ul>
            </div>
            <div class="col-md-6 border-top">
              <h6 class="mt-3">Before renting your listing, each lesse must agree to your:</h6>
              <ul class="list-display list-checkmarks">
                <li>Agree to your listing rules</li>
                <li>Message you about their enquiry</li>
                <li>Let you know how many hours/days/weeks they will need it</li>
                <li>Confirm when they will collect the listing within 2 days</li>
              </ul>
            </div>
            <div class="col-md-6 border-top">
              <h6 class="mt-3">Add additional requirements</h6>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Government Issued-ID submitted to Wurkings.
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Recommended by others, and has no negative reviews.
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Anyone can rent.
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Only student can rent.
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Working Class.
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col">
            <button type="button" class="btn btn-warning btn-block">Back</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-info btn-block" (click)="nextPage()">Proceed</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-6">
    <div class="">
      <img src="../../../assets/pictures/celebrating-friends.jpg" alt="" height="400px" class="rounded">
    </div>
  </div>
</div>
<!--/conditions for renting-->
