<!--description about listing-->
<div class="row mt-5">
  <div class="col-6">
    <h2>Describe your listing</h2>
    <p>Write a quick summary about your listing, highlighting what is special about your listing.</p>
    <form action="" method="post" class="">

      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for=""></label>
            <textarea type="text" rows="8" name="" id="" class="form-control" placeholder="" aria-describedby="description"
              placeholder="Tell us about your listing :)"></textarea>
            <small id="description" class="text-muted"></small>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col">
            <button type="button" class="btn btn-warning btn-block">Back</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-info btn-block" (click)="nextPage()">Proceed</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-6">
    <div class="">
      <img src="../../../assets/pictures/celebrating-friends.jpg" alt="" height="400px" class="rounded">
    </div>
  </div>
</div>
<!--/description about listing-->
