
<!--description about listing-->
<div class="row mt-5">
  <div class="col-6">
    <h2>Describe your listing</h2>
    <p>Write a quick summary about your listing, highlighting what is special about your listing.</p>
    <form [formGroup]="imagesForm" novalidate>

      <div class="form-group">
        <div class="row">
          <div class="col">
            <!--imported-->
            <div *ngIf="currentFileUpload" class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                {{progress.percentage}}%</div>
            </div>

            <label class="btn btn-default">
              <input type="file" (change)="selectFile($event)">
            </label>

            <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
            <!--/imported-->
          </div>
        </div>
        <div class="row pt-4">
          <div class="col">
            <button type="button" class="btn btn-warning btn-block">Back</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-info btn-block" (click)="goToNext()">Proceed</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-6">
    <div class="">
      <img src="../../../assets/pictures/celebrating-friends.jpg" alt="" height="400px" class="rounded">
    </div>
  </div>
</div>
<!--/description about listing-->

