<!--description about listing-->
<div class="row mt-5">
  <div class="col-6">
    <h2>Describe your listing</h2>
    <p>Write a quick summary about your listing, highlighting what is special about your listing.</p>
    <form [formGroup]="descriptionForm" novalidate>

      <div class="form-group">
        <div class="row">
          <div class="col">
            <!-- <label for=""></label> -->
            <textarea type="text"
                      formControlName="description"
                      [(ngModel)]="description.description"
                      rows="8"
                      class="form-control" placeholder=""
                      placeholder="Tell us about your listing :)"></textarea>
            <small *ngIf="descriptionField.touched && descriptionField.invalid"
                   class="alert text-danger text-muted">Description is required</small>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col">
            <button type="button" class="btn btn-warning btn-block">Back</button>
          </div>
          <div class="col">
            <button type="button" [disabled]="!descriptionForm.valid" class="btn btn-info btn-block" (click)="goToNext(descriptionForm)">Proceed</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-6">
    <div class="">
      <img src="../../../assets/pictures/celebrating-friends.jpg" alt="" height="400px" class="rounded">
    </div>
  </div>
</div>
<!--/description about listing-->
