


<div *ngIf="loading$|async" class="app-article-preview">
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</div>

  <div class="row">

    <app-listing-preview class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
        *ngFor="let listing of listing$ | async"
        [listing]="listing">
    </app-listing-preview>

</div>

<!-- <div class="app-article-preview"
  [hidden]="loading">
  No listings are here... yet.
</div> -->
<!-- <pre>{{listing$ | async | json}}</pre> -->
