<div class="row mt-5">
  <div class="container">

    <h2 class="my-4">Rentals</h2>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
          aria-selected="true">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false">Pending</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false">Overdue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false">Past</a>
      </li>
    </ul>

    <!-- <div class="col-xs-12 col-md-10 offset-md-1">
    <div class="articles-toggle">
      <ul class="nav nav-pills outline-active">
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/profile', profile.username]">
             My Posts
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/profile', profile.username, 'favorites']">
             Favorited Posts
          </a>
        </li>
      </ul>
    </div>

  </div> -->


    <!--displayed if no one has yet reviewed you-->

    <div class="container mt-4">
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">Rentals</h5>
          <p class="card-text">You don’t have any past rentals yet—but when you do, you’ll find them here.
          </p>
        </div>
      </div>
    </div>
    <!--displayed if no one has yet reviewed you-->
  </div>
