<p>list preview works</p>

<!-- <div class="listing-preview">
  <app-listing-meta [listing]="listing">
    <app-favorite-button
      [listing]="listing"
      (toggle)="onToggleFavorite($event)"
      class="pull-xs-right">
      {{listing.favoritesCount}}
    </app-favorite-button>
  </app-listing-meta>

  <a [routerLink]="['/listing', listing.slug]" class="preview-link">
    <h1>{{ listing.title }}</h1>
    <p>{{ listing.description }}</p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li class="tag-default tag-pill tag-outline"
        *ngFor="let tag of listing.tagList">
        {{ tag }}
      </li>
    </ul>
  </a>
</div> -->
