 <!--setting pricing for listing-->
 <div class="row mt-5">
  <div class="col-6">
    <h2>Price your listing</h2>
    <p>Setup the pricing values and periods for your listing.</p>
    <form [formGroup]="pricingForm" novalidate>

      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <!-- <label for=""></label> -->
            <input type="text"
                   formControlName="pricing"
                   [(ngModel)]="pricing.pricing"
                   class="form-control"
                   placeholder="Price"/>
            <small *ngIf="pricingField.touched && pricingField.invalid"
                   class="alert text-danger text-muted">Description is required</small>
          </div>
          <div class="col-md-6">
            <!-- <label for=""></label> -->
            <select type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId"
              placeholder="Select Category">
              <option value="1">Hour</option>
              <option value="2">Day</option>
              <option value="3">Week</option>
              <option value="3">Month</option>
            </select>
            <small id="helpId" class="text-muted"> </small>
          </div>
        </div>
        <div class="pt-4">
          <button type="button" class="btn btn-dark btn-block">Add another option</button>
        </div>
        <div class="row pt-4">
          <div class="col">
            <button type="button" class="btn btn-warning btn-block">Back</button>
          </div>
          <div class="col">
            <button type="button" [disabled]="!pricingForm.valid" class="btn btn-info btn-block" (click)="goToNext(pricingForm)">Proceed</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-6">
    <div class="">
      <img src="../../../assets/pictures/celebrating-friends.jpg" alt="" height="400px" class="rounded">
    </div>
  </div>
</div>
<!--/setting pricing for listing listing-->
