<div class="card">

  <h4 class="text-center mt-4">Register</h4>

  <p class="text-muted text-center mt-2">Already have an account? <a routerLink="/login">Login</a></p>

  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <!-- <label for="username">Username</label> -->
        <input type="text" formControlName="username" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Username" />
        <small *ngIf="f.username.invalid && f.username.touched" class="alert text-danger text-muted">
          Username is required
        </small>
      </div>
      <div class="form-group">
        <!-- <label for="username">Email</label> -->
        <input type="text" formControlName="email" class="form-control" placeholder="Email"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <small *ngIf="f.email.invalid && f.email.touched" class="alert text-danger text-muted">
          Email is required
        </small>
      </div>
      <div class="form-group">
        <!-- <label for="username">Email</label> -->
        <input type="text" formControlName="first_name" class="form-control" placeholder="First name"
          [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
        <small *ngIf="f.first_name.invalid && f.first_name.touched" class="alert text-danger text-muted">
          First name is required
        </small>
      </div>
      <div class="form-group">
        <!-- <label for="username">Email</label> -->
        <input type="date" class="form-control" id="dob" formControlName="date_of_birth">
        <small *ngIf="f.date_of_birth.invalid && f.date_of_birth.touched" class="alert text-danger text-muted">
          Date of birth is required
        </small>
      </div>
      <div class="form-group">
        <!-- <label for="username">Email</label> -->
        <input type="text" formControlName="last_name" class="form-control" placeholder="Last name"
          [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }" />
        <small *ngIf="f.last_name.invalid && f.last_name.touched" class="alert text-danger text-muted">
          Last name is required
        </small>
      </div>
      <div class="form-group">
        <!-- <label for="username">Email</label> -->
        <select id="inputState" class="form-control" formControlName="gender">
          <option selected>Choose...</option>
          <option *ngFor="let gender of gender" [value]="gender.value">{{gender.name}}</option>
        </select>
        <small *ngIf="f.gender.invalid && f.gender.touched" class="alert text-danger text-muted">
          Gender is required
        </small>
      </div>
      <div class="form-group">
        <!-- <label for="username">Email</label> -->
        <input type="text" formControlName="phone_number" class="form-control" placeholder="Phone number"
          [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors }" />
        <small *ngIf="f.phone_number.invalid && f.phone_number.touched" class="alert text-danger text-muted">
          Phone number is required
        </small>
      </div>
      <div class="form-group">
        <!-- <label for="username">Email</label> -->
        <input type="text" formControlName="physical_address" class="form-control" placeholder="Physical address"
          [ngClass]="{ 'is-invalid': submitted && f.physical_address.errors }" />
        <small *ngIf="f.physical_address.invalid && f.physical_address.touched" class="alert text-danger text-muted">
          Physical address is required
        </small>
      </div>

      <div class="form-group">
        <!-- <label for="username">Email</label> -->
        <input type="text" formControlName="occupation" class="form-control" placeholder="Occupation"
          [ngClass]="{ 'is-invalid': submitted && f.occupation.errors }" />
        <small *ngIf="f.occupation.invalid && f.occupation.touched" class="alert text-danger text-muted">
          Occupation is required
        </small>
      </div>
      <div class="form-group">
        <!-- <label for="username">Email</label> -->
        <input type="text" formControlName="about" class="form-control" placeholder="About"
          [ngClass]="{ 'is-invalid': submitted && f.occupation.errors }" />
        <small *ngIf="f.about.invalid && f.about.touched" class="alert text-danger text-muted">
          About is required
        </small>
      </div>
      <div class="form-group">
        <!-- <label for="password">Password</label> -->
        <input type="password" formControlName="password" class="form-control" placeholder="Password"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <small *ngIf="f.password.invalid && f.password.touched" class="alert text-danger text-muted">
          Password is required
        </small>
      </div>
      <div class="form-group">
        <!-- <label for="password_confirmation">Password Confirmation</label> -->
        <input type="password" formControlName="password_confirmation" class="form-control"
          placeholder="Password  confirmation"
          [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors }" />
        <small *ngIf="f.password_confirmation.invalid && f.password_confirmation.touched"
          class="alert text-danger text-muted">
          Password confirmation is required
        </small>
        <small *ngIf="passwordSimilar" class="alert text-danger text-muted">
          Passwords not the same :-(
        </small>

      </div>
      <div class="form-group">
        <button [disabled]="loading || form.invalid" class="btn btn-primary w-100">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Register
        </button>
      </div>
    </form>
  </div>
</div>
