<div class="container">

  <h2 class="mb-4">Management Settings</h2>

  <div class="row">

    <div class="col-md-4">
      <a [routerLink]="['categories']">
      <div class="card w-full">
          <div class="card-body">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <h5 class="card-title">Categories</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>

      </div>
    </a>
    </div>
    <div class="col-md-4">
      <a [routerLink]="['users']">
      <div class="card w-full">

        <div class="card-body">
          <i class="fa fa-user-secret" aria-hidden="true"></i>
          <h5 class="card-title">Community users</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>

      </div>
    </a>
    </div>
    <div class="col-md-4">

      <a [routerLink]="['.']">
      <div class="card w-full">
        <div class="card-body">
          <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
          <h5 class="card-title">Listing Management</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </a>
    </div>

  </div>

</div>
