<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/profile/settings']">Account Settings</a></li>
      <li class="breadcrumb-item active" aria-current="page">Personal Information</li>
    </ol>
  </nav>

  <h2 class="mb-4">Personal Information</h2>

  <div class="row">

    <div class="col-md-8">

      <div class="">
        <p class="font-weight-bold">{{user.username}}, {{user.email}}</p>

      </div>

      <form [formGroup]="form" (submit)="save()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstname">Firstname</label>
            <input type="text" class="form-control" id="firstname" formControlName="first_name"
              [ngClass]="{'border-danger':f.first_name.invalid, 'border-success': f.first_name.valid}"
              [(ngModel)]="user.first_name">
            <div *ngIf="f.first_name.invalid && f.first_name.touched" class="invalid-control">
              First name is required.
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="lastname">Lastname</label>
            <input type="text" class="form-control" id="lastname" formControlName="last_name"
              [ngClass]="{'border-danger':f.last_name.invalid, 'border-success': f.last_name.valid}"
              [(ngModel)]="user.last_name">
            <div *ngIf="f.last_name.invalid && f.last_name.touched" class="invalid-control">
              Last name is required.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputState">Gender</label>
            <select id="inputState" class="form-control" formControlName="gender" [(ngModel)]="user.gender"
              [ngClass]="{'border-danger':f.gender.invalid, 'border-success': f.gender.valid}">
              <option selected>Choose...</option>
              <option value="true">Female</option>
              <option value="false">Male</option>
            </select>
            <div *ngIf="f.gender.invalid && f.gender.touched" class="invalid-control">
              Gender is required.
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" id="dob" formControlName="date_of_birth"
              [ngClass]="{'border-danger':f.date_of_birth.invalid, 'border-success': f.date_of_birth.valid}"
              [(ngModel)]="user.date_of_birth">
            <div *ngIf="f.date_of_birth.invalid && f.date_of_birth.touched" class="invalid-control">
              Date of birth is required.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="occupation">Occupation</label>
            <input type="text" class="form-control" id="occupation" formControlName="occupation"
              [(ngModel)]="user.occupation"
              [ngClass]="{'border-danger':f.occupation.invalid, 'border-success': f.occupation.valid}">
            <div *ngIf="f.occupation.invalid && f.occupation.touched" class="invalid-control">
              Occupation is required.
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" id="phone" formControlName="phone_number"
              [(ngModel)]="user.phone_number"
              [ngClass]="{'border-danger':f.phone_number.invalid, 'border-success': f.phone_number.valid}">
            <div *ngIf="f.phone_number.invalid && f.phone_number.touched" class="invalid-control">
              Phone number is required.
            </div>
          </div>
        </div>
        <!-- <div class="form-group">
          <div>
            <label>Profile Picture</label>
          </div>
          <app-image-upload (imageUploaded)="handleImageUpload($event)" (imageError)="handleImageError()">
          </app-image-upload>
        </div> -->
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"
            formControlName="physical_address" [(ngModel)]="user.physical_address"
            [ngClass]="{'border-danger':f.physical_address.invalid, 'border-success': f.physical_address.valid}">
          <div *ngIf="f.physical_address.invalid && f.physical_address.touched" class="invalid-control">
            Physical address is required.
          </div>
        </div>
        <div class="form-group">
          <label for="about">About</label>
          <textarea type="text" class="form-control" id="about" placeholder="Apartment, studio, or floor"
            formControlName="about" [(ngModel)]="user.about"
            [ngClass]="{'border-danger':f.about.invalid, 'border-success': f.about.valid}"></textarea>
          <div *ngIf="f.about.invalid && f.about.touched" class="invalid-control">
            About is required.
          </div>
        </div>
        <!-- <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state">
          </div>
          <div class="form-group col-md-4">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div> -->

        <button [disabled]="form.invalid || isSubmitting" type="submit" class="btn btn-primary btn-block">Save</button>
      </form>
      <!-- <pre>{{form.value | json}}</pre> -->
    </div>

    <div class="col-md-4">

      <div class="card w-100">
        <div class="card-body">
          <i class="fa fa-id-card-o" aria-hidden="true"></i>
          <h5 class="card-title">What info is shared with others?</h5>
          <p class="card-text">Wurkings only releases contact information for hosts and guests after a booking is
            confirmed.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>

    </div>

  </div>

</div>
