<div class="card" style="width: 14rem;">
  <a [routerLink]="['/listing/preview', listing.id]">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let image of listing.listing_images">
        <div class="picsum-img-wrapper">
          <img class="card-img-top" height="160px;" [src]="image.image_url" [alt]="image.alt">
        </div>
      </ng-template>
    </ngb-carousel>
  </a>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <a [routerLink]="['/listing/preview', listing.id]" *ngIf="category$ | async as category">
        <!-- <span class="badge badge-pill badge-info">Info</span> -->
        <span class="badge badge-pill badge-success text-xs">{{category.category_title}}</span>
      </a>
      <a *ngIf="!(user.id === listing.user_id)" routerLink="/"><i class="fa fa-heart-o fa"></i></a>
      <a *ngIf="user.id === listing.user_id" [routerLink]="['/listing', listing.id]"><i class="fa fa-pencil"></i></a>
    </div>
    <a [routerLink]="['/listing/preview', listing.id]" class="text-decoration-none">
      <h6 class="card-title mt-2">{{listing.title}}</h6>
    </a>
    <!-- <p class="card-text">{{listing.description | slice:0:30}}</p> -->
    <div class="d-flex justify-content-between">
      <a [routerLink]="['/profile', listing.user_id]" class="text-decoration-none">
        <p class="text-muted"><img src="../../../../assets/pictures/thumb__ser.png" width="25" height="25"
            class="rounded-circle border"><small class="ml-1">{{listing.user_id}}</small></p>
      </a>
      <!-- <small class="text-muted text-sm mt-1" *ngFor="let rate of listing.payment_rates">
        <strong>{{rate.price | currency: 'USD': true}}</strong>/{{rate.title}}</small> -->
        <select class="form-control-sm">
          <option *ngFor="let price of listing.payment_rates">{{price.title}}, {{price.price | currency}}</option>
        </select>
    </div>
  </div>
</div>
