<div class="card" style="width: 18rem;">
  <a [routerLink]="['/listing/preview', listing.id]">
    <img class="card-img-top" src="../../../../assets/pictures/phpThumb.jpg" alt="Card image cap">
  </a>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <a [routerLink]="['/listing/preview', listing.id]">
        <small class="text-muted">Electronics</small>
      </a>
      <a routerLink="/"><i class="fa fa-heart-o fa"></i></a>
    </div>
    <a [routerLink]="['/listing/preview', listing.id]">
      <h5 class="card-title mt-2">{{listing.title}}</h5>
    </a>
    <p class="card-text">{{listing.description | slice:0:30}}</p>
    <div class="d-flex justify-content-between">
      <a [routerLink]="['/profile', listing.owner.id]">
        <p class="text-muted"><img src="../../../../assets/pictures/thumb__ser.png"
          width="30"
          height="30" class="rounded-circle border"><small class="ml-1">{{listing.owner.username}}</small></p>
      </a>
      <p class="text-muted"><strong>${{listing.price}}</strong><small>/week</small></p>
    </div>
  </div>
</div>
