<div class="card" style="width: 14rem;">
  <a [routerLink]="['/listing/preview', listing.id]">
    <img class="card-img-top" src="../../../../assets/pictures/phpThumb.jpg" alt="Card image cap">
  </a>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <a [routerLink]="['/listing/preview', listing.id]">
        <!-- <span class="badge badge-pill badge-info">Info</span> -->
        <span class="badge badge-pill badge-success text-xs">{{listing.catergory.catergoryName}}</span>
      </a>
      <a *ngIf="!(user.id === listing.owner.id)" routerLink="/"><i class="fa fa-heart-o fa"></i></a>
      <a *ngIf="user.id === listing.owner.id" [routerLink]="['/listing', listing.id]"><i class="fa fa-pencil"></i></a>
    </div>
    <a [routerLink]="['/listing/preview', listing.id]">
      <h6 class="card-title mt-2">{{listing.title}}</h6>
    </a>
    <!-- <p class="card-text">{{listing.description | slice:0:30}}</p> -->
    <div class="d-flex justify-content-between">
      <a [routerLink]="['/profile', listing.owner.id]">
        <p class="text-muted"><img src="../../../../assets/pictures/thumb__ser.png"
          width="25"
          height="25" class="rounded-circle border"><small class="ml-1">{{listing.owner.username}}</small></p>
      </a>
      <small class="text-muted text-sm mt-1"><strong>{{listing.price | currency: 'USD': true}}</strong>/{{listing.payment_type.rate}}</small>
    </div>
  </div>
</div>
