<div class="h-100">
	  <div class="msg_history" *ngFor="let message of message">

		<div [class]="isCurrentUser? 'outgoing_msg':'incoming_msg'">
		  <div [class]="isCurrentUser? '':'incoming_msg_img'"> <img [hidden]="isCurrentUser" src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
		  <div [class]="isCurrentUser? '':'received_msg'">
			<div [class]="isCurrentUser? 'sent_msg':'received_withd_msg'">
			  <p>{{message.message_body}}</p>
			  <span class="time_date">{{message.createdAt}}</span></div>
		  </div>
    </div>

	  </div>
	  <div class="type_msg">
		<div class="input_msg_write">
		  <form action="" method="post">
        <input type="text" class="write_msg" placeholder="Type a message" />
		    <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
      </form>
		</div>
    </div>
    <div style="bottom: 0;"></div>
	</div>
