<div class="card col-md-6 offset-md-3">
  <div class="card-body">
    <h5 class="card-title">Listing Detail</h5>

    <form [formGroup]="form" novalidate>

      <div class="form-group">
        <div class="row">
          <div class="col-md-6">

            <label for=""></label>
            <input type="text" formControlName="title"
                   [(ngModel)]="selectedListing.title" class="form-control"
                   placeholder="Listing Title" />
            <small *ngIf="title.touched && title.invalid" class="alert text-danger text-muted">Title is
              required</small>
          </div>

          <div class="col-md-6">
            <label for=""></label>
            <div class="form-group">
              <select class="form-control" id=""
                      formControlName="catergory">
                <option>Select Catergory</option>
                <option *ngFor="let catergory of catergories"
                        [value]="catergory.id">{{catergory.catergoryName}}</option>
              </select>
            </div>

            <small *ngIf="catergory.touched && catergory.invalid" class="alert text-danger text-muted">Catergory is
              required</small>

          </div>

          <div class="col-md-12">
            <label for=""></label>
            <textarea type="text" formControlName="description" [(ngModel)]="selectedListing.description" rows="5"
              class="form-control" placeholder="" placeholder="Tell us about your listing :)"></textarea>
            <small *ngIf="description.touched && description.invalid"
              class="alert text-danger text-muted">Description is required</small>
          </div>

          <div class="col-md-6">

            <label for=""></label>
            <input type="text" formControlName="city" [(ngModel)]="selectedListing.city" class="form-control"
              placeholder="City" />
            <small *ngIf="city.touched && city.invalid" class="alert text-danger text-muted">City is
              required</small>
          </div>

          <div class="col-md-6">

            <label for=""></label>
            <input type="text" formControlName="state" [(ngModel)]="selectedListing.state" class="form-control"
              placeholder="State/Province" />
            <small *ngIf="state.touched && state.invalid" class="alert text-danger text-muted">State is
              required</small>
          </div>

          <div class="col-md-6">

            <label for=""></label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">$</span>
              </div>
              <input type="text" formControlName="price" [(ngModel)]="selectedListing.price" class="form-control"
                placeholder="Price" />

            </div>
            <small *ngIf="price.touched && price.invalid" class="alert text-danger text-muted">Price is
              required</small>
          </div>

          <div class="col-md-6">
            <label for=""></label>
            <div class="form-group">
              <select class="form-control" id=""
                      formControlName="paymentRate" [(ngModel)]="selectedListing.paymentRate">
                <option>Pay per...</option>
                <option *ngFor="let paymentRate of paymentTypes"
                [value]="paymentRate.id">{{paymentRate.rate}}</option>
              </select>
            </div>

            <small *ngIf="paymentRate.touched && paymentRate.invalid" class="alert text-danger text-muted">Payment Rate is
              required</small>

          </div>


          <div class="col-md-12 mt-4">
            <div class="">
              <div class="jumbotron">
                <!--imported-->
                <div *ngIf="currentFileUpload" class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                    attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
                    [ngStyle]="{width:progress.percentage+'%'}">
                    {{progress.percentage}}%</div>
                </div>

                <label class="btn btn-default">
                  <input type="file" (change)="selectFile($event)">
                </label>

                <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
                <!--/imported-->
              </div>
            </div>
          </div>


          <div class="col-md-12">
            <h6 class="mt-3">Add additional requirements</h6>

            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" [(ngModel)]="selectedListing.forAll" class="form-check-input"
                  formControlName="allCan">Anyone can rent.
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" [(ngModel)]="selectedListing.onlyStudent" class="form-check-input"
                  formControlName="onlyStudent">Only student can rent.
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" [(ngModel)]="selectedListing.onlyEmployed" class="form-check-input"
                  formControlName="onlyWorking">Working Class.
              </label>
            </div>
          </div>

        </div>
        <div class="pt-4">
          <button type="button" [disabled]="form.invalid" (click)="onSubmit()"
            class="btn btn-info btn-block">Save</button>
        </div>
      </div>
    </form>

  </div>
</div>
