  <div class="card" style="padding: 10px 10px 0px 10px;">
    <div class="media text-muted">
      <img class="bd-placeholder-img mr-2 rounded" [src]="owner?.profile_picture_url" width="32" height="32" />
      <div class="media-body mb-0 small border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div>
            <strong class="text-gray-dark">{{owner?.username}}</strong>
          </div>
          <div>
            <small>{{booking.created_at | date}}</small>
            <button class="btn" (click)="remove(booking?.id)"><img src="https://img.icons8.com/flat_round/64/000000/delete-sign.png" height="20px;"/></button>
          </div>
        </div>
        <div class="d-flex justify-content-start align-items-center w-100">
          <!-- <p class="mr-2">{{booking.listing.title}}</p> -->
          <p class="mr-2 font-italic"><strong>Booking status: </strong></p>
          <p><span class="badge badge-warning" *ngIf="booking.status === 'pending'">{{booking.status}}</span><span
              class="badge badge-success" *ngIf="booking.status === 'accepted'">{{booking.status}}</span><span
              class="badge badge-danger" *ngIf="booking.status === 'cancelled'">{{booking.status}}</span><span
              class="badge badge-info" *ngIf="booking.status === ''">{{booking.status}}</span></p>
        </div>
      </div>
      <!-- <hr class="border border-info"/> -->
    </div>
    <a [routerLink]="['/bookings', booking.id]">
      <div class="media text-muted" *ngIf="(listing$ | async) as listing">
        <img class="bd-placeholder-img mr-2 rounded" [src]="listing.listing_images[0].image_url" width="32" height="32" />
        <div class="media-body small">
          <p class="">{{listing.title}} <span class="badge badge-info"
              *ngIf="(paymentRate$ | async) as payment">{{payment.price | currency}}/{{payment.title}}</span></p>
          <p class="text-gray-dark font-italic" style="margin-top: -16px;">{{listing.description | slice:0:75}}...</p>
        </div>
      </div>
    </a>

  </div>

<!-- <pre>{{paymentRate$ | async | json}}</pre> -->
