 <div class="">

  <div class="banner">
    <div class="container">
      <h1 class="logo-font">Wurkings</h1>
      <p>A place to share your commodities<i> Safe and Reliable</i> way.</p>
      <a routerLink="/listing/rent-out" class="btn btn-success" *appShowAuthed="true">Create Listing</a>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-12">

        <div class="mt-4"></div>
        <app-listing-list></app-listing-list>
      </div>

    </div>
  </div>
</div>
