<div class="card col-md-6 offset-md-3">
  <div class="card-body">
    <h5 class="card-title">Listing Pricing</h5>

    <form [formGroup]="form" (submit)="save(form.value)" novalidate>

      <div class="form-group">
        <div class="row">

          <div class="col-md-6">

            <label for=""></label>
            <input type="number" formControlName="price" [ngModel]="paymentRate?.price" class="form-control"
              [ngClass]="{'border-danger':f.price.invalid, 'border-success': f.price.valid}" placeholder="Price" />
            <div *ngIf="f.price.invalid && f.price.touched" class="invalid-control">
              Price is required.
            </div>
          </div>

          <div class="col-md-6">
            <label for=""></label>
            <div class="form-group">
              <select class="form-control" formControlName="title" [ngModel]="paymentRate?.title"
                [ngClass]="{'border-danger':f.title.invalid, 'border-success': f.title.valid}">
                <option selected>Select Option</option>
                <option *ngFor="let rate of rates" [value]="rate?.title">{{rate?.title}}
                </option>
              </select>
              <div *ngIf="f.title.invalid && f.title.touched" class="invalid-control">
                Rate is required.
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let rate of listingPriceRate$ | async">
                {{rate.title}}
                <div>
                  <span class="badge badge-success badge-pill mr-1">{{rate.price | currency}}</span>
                  <a class="mt-2" (click)="delete(rate.id)"><i class="fa fa-trash text-success mt-1"
                      style="position: absolute;" aria-hidden="true"></i></a>
                </div>
              </li>
            </ul>
          </div>
          <!-- <pre>{{listingPriceRate$ | async | json}}</pre> -->
        </div>
        <div class="d-flex justify-content-between pt-4">
          <button type="submit" [disabled]="form.invalid || isSubmitting" class="btn btn-warning btn-block mr-2">Add
            Payment Rate</button>
          <button type="button" [disabled]="(listingPriceRate$ | async).length === 0" class="btn btn-success btn-block" (click)="review()">Done</button>
        </div>

      </div>
    </form>

  </div>
</div>
<!-- <pre>{{form.value | json}}</pre> -->
