<div class="container">
  <div class="banner">
    <div class="d-flex justify-content-between">

      <img src="../../../assets/pictures/phpThumb.jpg" class="img-thumbnail" height="150px" width="150px">

      <div class="">
        <h6 class="text-center">{{selectedBooking.listing.title}}</h6>
        <p class="text-center"><strong>${{selectedBooking.listing.price}}</strong> <small>/day</small></p>
        <span class="badge badge-pill badge-info">{{selectedBooking.start_date | date: 'longDate'}}</span>
        <span><small> - </small></span>
        <span class="badge badge-pill badge-info">{{selectedBooking.end_date | date: 'longDate'}}</span>
        <p class="text-center mt-2"><small>Rental Amount:  </small> <strong>${{selectedBooking.total_for_rental}}</strong></p>
      </div>

      <div class="">
        <div><a [routerLink]="['/']"
                [hidden]="true"
                class="btn btn-success active"
                role="button">Pay <i class="fa fa-shopping-cart"></i></a></div>
        <div>
          <a [routerLink]="['/']"
              [hidden]="true"
              class="btn btn-info active"
              role="button">Accept Deal <i class="fa fa-money-bill"></i></a>
        </div>
        <div>
          <a [routerLink]="['/']"
              [hidden]="false"
              class="btn btn-danger active"
              role="button">Cancel Deal <i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>


    </div>
  </div>

  <div class="h-100">
	  <div class="msg_history" *ngFor="let message of selectedBooking.messages">

		<div [class]="message.user === currentUser.id? 'outgoing_msg':'incoming_msg'">
		  <div [hidden]="message.user === currentUser.id" class="incoming_msg_img">
        <img src="https://ptetutorials.com/images/user-profile.png"
             alt="sunil"> </div>
		  <div [class]="message.user === currentUser.id? '':'received_msg'">
			<div [class]="message.user === currentUser.id? 'sent_msg':'received_withd_msg'">
			  <p>{{message.message_body}}</p>
			  <span class="time_date">{{message.createdAt | date: 'longDate'}}</span></div>
		  </div>
    </div>

	  </div>
	  <div class="type_msg">
		<div class="input_msg_write">
		  <form [formGroup]="form" novalidate>
        <input type="text"
               class="write_msg"
               formControlName="message_body"
               placeholder="Type a message" />
        <button class="msg_send_btn"
                type="submit"
                [disabled]="!form.valid"
                (click)="onSubmit()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
      </form>
		</div>
    </div>
    <div style="bottom: 0;"></div>
  </div>

</div>
