<!-- Navigation -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" (click)="collapsed = !collapsed" routerLink="/">Wurkings</a>

    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
      aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item" *appShowAuthed="true">
          <a class="nav-link text-success" routerLink="/inbox" (click)="isMenuCollapsed = true">Inbox</a>
        </li> -->
        <!-- <li class="nav-item" *appShowAuthed="true">
          <a class="nav-link text-success" routerLink="/notifications" (click)="isMenuCollapsed = true">Notifications</a>
        </li> -->
        <li class="nav-item" *appShowAuthed="true">
          <a class="nav-link text-success" (click)="collapsed = !collapsed" routerLink="/admin">Management</a>
        </li>
        <li class="nav-item" *appShowAuthed="true">
          <a class="nav-link text-success" (click)="collapsed = !collapsed"
            [routerLink]="['/bookings/to-me']">Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-success" (click)="collapsed = !collapsed" [routerLink]="['/help']">Help</a>
        </li>
        <li class="nav-item" *appShowAuthed="false">
          <a class="btn btn-success action-button" (click)="collapsed = !collapsed" role="button"
            [routerLink]="['/login']">Sign In</a>
        </li>
        <li class="nav-item" class="d-inline-block" *appShowAuthed="true" ngbDropdown display="dynamic"
          placement="bottom-right">
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown4" role="button" aria-haspopup="true"
            aria-expanded="false">
            <img src="../../../../assets/pictures/thumb__ser.png" width="30" height="30" class="rounded-circle">
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown4" class="dropdown-menu">
            <ng-container *ngIf="currentUser$ | async as user">
              <a class="p-2" ngbDropdownItem [routerLink]="['/profile', user.id]">Profile</a>
            </ng-container>
            <a class="p-2" ngbDropdownItem (click)="collapsed = !collapsed" [routerLink]="['/rentals']">Rentals</a>
            <!-- <a class="p-2" ngbDropdownItem routerLink="/wishlist">Wishlist</a> -->
            <!-- <div class="border-top"></div>
            <a class="p-2" ngbDropdownItem routerLink="/inbox">Messages</a>
            <a class="p-2" ngbDropdownItem routerLink="/notifications">Notifications</a> -->
            <div class="border-top"></div>
            <a class="p-2" ngbDropdownItem (click)="collapsed = !collapsed" [routerLink]="['/listing']">Manage
              Listings</a>
            <a class="p-2" ngbDropdownItem (click)="collapsed = !collapsed"
              [routerLink]="['/profile/settings']">Account</a>
            <div class="border-top"></div>
            <a class="p-2" ngbDropdownItem (click)='logout()'>Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
